<template>
    <div id="updatePelamar">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Pelamar</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Data Pelamar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <font class="card-title" text-color="white">Update Data Pelamar</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitPelamar">
                <!-- form start -->
                
                <div class="card-body">
                    <H5>A. DATA PRIBADI</H5>
                    <div class="form-group">
                    <label for="nama_pelamar">Nama Pelamar</label>
                    <input type="text" class="form-control col-6" id="nama_pelamar" placeholder="Masukkan Nama Pelamar" v-model="nama_pelamar" required>
                    </div>
                    <div class="form-group">
                      <label for="no_hp">Nomor HP</label>
                      <input type="text" class="form-control col-6" id="no_hp" autocomplete="off" placeholder="Masukkan Nomor HP" v-model="no_hp" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control col-6" id="email" autocomplete="off" placeholder="Masukkan Email" v-model="email" required>
                    </div>
                    <H5 class="mt-4">B. ASAL INSTITUSI PENDIDIKAN</H5>
                    <div class="form-group">
                      <label>Tingkat Pendidikan</label>
                      <select class="form-control col-6" v-model="grade">
                        <option value="">-- Pilih Tingkat Pendidikan --</option>
                        <option value="SMA/SMK">SMA/SMK Sederajat</option>
                        <option value="D1">D1</option>
                        <option value="D2">D2</option>
                        <option value="D3">D3</option>
                        <option value="S1">S1</option>
                        <option value="S2">S2</option>
                        <option value="S3">S3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="asal_instansi">Asal Institusi Pendidikan</label>
                      <input type="text" class="form-control col-6" autocomplete="off" id="asal_instansi" placeholder="Masukkan Asal Institusi Pendidikan" v-model="asal_instansi" required>
                    </div>
                    <div class="form-group">
                      <label for="jurusan">Jurusan</label>
                      <input type="text" class="form-control col-6" autocomplete="off" id="jurusan" placeholder="Masukkan Jurusan" v-model="jurusan" required>
                    </div>
                    <H5 class="mt-4">C. DATA LAMARAN</H5>
                    <div class="form-group">
                      <label for="cv">Dokumen Lamaran <br> <code>File yang diperbolehkan upload : .zip .pdf .doc. docx .xls .xlsx</code></label>
                      <input type="file" class="form-control col-6" id="cv" @change="onFileSelected" placeholder="Masukkan Jurusan">
                    </div>
                    <div class="form-group">
                      <label>Posisi yang Dilamar</label>
                      <select class="form-control col-6" v-model="id_posisi">
                        <option value="">-- Pilih Posisi --</option>
                        <option v-for="itemPosisi in itemsPosisi" :key="itemPosisi.id" v-bind:value="itemPosisi.id">
                          {{ itemPosisi.nama_posisi }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Status Rekrutmen</label>
                      <select class="form-control col-6" v-model="id_status">
                        <option value="">-- Pilih Status Rekrutmen --</option>
                        <option v-for="itemStatus in itemsStatus" :key="itemStatus.id" v-bind:value="itemStatus.id">
                          {{ itemStatus.nama_status }}
                        </option>
                      </select>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link class="btn btn-secondary mr-3" :to="{name: 'viewPelamar'}">Back</router-link>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

                </form>
                
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'updatePelamar',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      nama_pelamar: "",
      no_hp: "",
      email: "",
      asal_instansi: "",
      jurusan: "",
      grade: "",
      cv: null,
      id_posisi: "",
      itemsPosisi: [],
      id_status: "",
      itemsStatus: [],
    };
  },
  created: function () {
    this.viewStatus();
    this.viewPosisi();
    this.viewPelamarById();
  },
  methods: {
    // File
    onFileSelected(event) {
      this.cv = event.target.files[0]
      this.fileName = this.cv.name; 
      this.fileSize = this.cv.size;  
      this.fileType = this.cv.type;
      let File_Size = this.fileSize;
      let File_Type = this.fileType;
      let pdf = "application/pdf";
      let xlsx = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      let xls = "application/vnd.ms-excel";
      let doc = "application/msword";
      let docx = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
      let zip = "application/zip";
      let MB =  File_Size / 1024 / 1024;
      // console.log(File_Type)
      if(File_Type == pdf || File_Type == xlsx || File_Type == xls || File_Type == doc || File_Type == docx || File_Type == zip){
          if(MB < 20){
              return true;
            }else{
                Vue.$toast.open({
                    message: 'File size exceed the 20mb limit!',
                    type: 'error',
                    // all of other options may go here
                    position: 'top-right'
                });
          }    
      }else{
          Vue.$toast.open({
              message: 'File should be in .zip .pdf .doc. docx .xls .xlsx format!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
      }

    },
    // Get All Status
    async viewStatus() {
      try {
        const response = await axios.get("status");
        this.itemsStatus = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },
    // Get All Posisi
    async viewPosisi() {
      try {
        const response = await axios.get("posisi");
        this.itemsPosisi = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },
    // Get Pelamar By Id
    async viewPelamarById() {
      try {
        const response = await axios.get(
          `pelamar/${this.$route.params.id}`
        );
        this.nama_pelamar = response.data.values.nama_pelamar;
        this.no_hp = response.data.values.no_hp;
        this.email = response.data.values.email;
        this.grade = response.data.values.grade;
        // this.cv = response.data.values.cv.url;
        this.asal_instansi = response.data.values.asal_instansi;
        this.jurusan = response.data.values.jurusan;
        this.id_posisi = response.data.values.id_posisi;
        this.id_status = response.data.values.id_status;
        // console.log(this.$route.params.id)
        // console.log(response.data.values.cv.url)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update Pelamar
    async handleSubmitPelamar(){

      try{
        const fd = new FormData();
        fd.set('id', this.id);
        fd.set('nama_pelamar', this.nama_pelamar);
        fd.set('no_hp', this.no_hp);
        fd.set('email', this.email);
        fd.set('asal_instansi', this.asal_instansi);
        fd.set('jurusan', this.jurusan);
        fd.set('grade', this.grade);
        if (this.cv!=null) {
          fd.append('cv', this.cv, this.cv.name);
        }
        fd.set('id_posisi', this.id_posisi);
        fd.set('id_status', this.id_status);
        await axios.put(`pelamar/${this.$route.params.id}`, fd);
        this.id = "";
        this.nama_pelamar = "";
        this.no_hp = "";
        this.email = "";
        this.asal_instansi = "";
        this.jurusan = "";
        this.grade = "";
        this.cv = "";
        this.id_posisi = "";
        this.id_status = "";
        this.$router.push("/pelamar/view");
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch(e) {
        console.log(e);
        Vue.$toast.open({
            message: 'Update data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

    },
  },
}
</script>

<style lang="stylus" scoped>

</style>