<template>
    <div id="updateNilaiPelamar">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Nilai Test</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Data Pelamar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <font class="card-title" text-color="white">Update Data Nilai Test</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitNilai">
                <!-- form start -->
                
                <div class="card-body">
                    <H5>DATA NILAI</H5>
                    <div class="form-group">
                      <label for="nama_test">Nama Test</label>
                      <input type="text" autocomplete="off" class="form-control col-6" id="nama_test" placeholder="Masukkan Nama Test" v-model="nama_test" required>
                    </div>
                    <div class="form-group">
                      <label for="nilai">Nilai Test</label>
                      <input type="number" autocomplete="off" class="form-control col-6" id="nilai" placeholder="Masukkan Nilai" v-model="nilai" required>
                    </div>
                    <div class="form-group">
                      <label for="file_test">File Test  <br> <code>File yang diperbolehkan upload : .zip .pdf .doc. docx .xls .xlsx</code></label>
                      <input type="file" class="form-control col-6" @change="onFileSelected" id="file_test">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link :to="{name: 'viewPelamar'}" class="btn btn-secondary mr-3">Back</router-link>
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
                </form>
                
            </div>
            <!-- /.card -->
            

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from '../_layouts/Navbar.vue'
import Sidebar from '../_layouts/Sidebar.vue'
import Footer from '../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'addNilaiPelamar',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      nama_test: "",
      id_nilai: "",
      file_test: null,
      nilai: ""
    };
  },

  created: function () {
    this.viewNilaiById();
  },

  methods: {
    // File
    onFileSelected(event) {
      this.file_test = event.target.files[0]
      this.fileName = this.file_test.name;
      this.fileSize = this.file_test.size;  
      this.fileType = this.file_test.type;
      let File_Size = this.fileSize;
      let File_Type = this.fileType;
      let pdf = "application/pdf";
      let xlsx = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      let xls = "application/vnd.ms-excel";
      let doc = "application/msword";
      let docx = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
      let zip = "application/zip";
      let MB =  File_Size / 1024 / 1024;
      // console.log(File_Type)
      if(File_Type == pdf || File_Type == xlsx || File_Type == xls || File_Type == doc || File_Type == docx || File_Type == zip){
          if(MB < 20){
              return true;
            }else{
                Vue.$toast.open({
                    message: 'File size exceed the 20mb limit!',
                    type: 'error',
                    // all of other options may go here
                    position: 'top-right'
                });
          }    
      }else{
          Vue.$toast.open({
              message: 'File should be in .zip .pdf .doc. docx .xls .xlsx format!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
      }

    },
    async viewNilaiById() {
      try {
        const response = await axios.get(
          `hasiltest/${this.$route.params.id}`
        );
        this.id_nilai = response.data.values.id;
        this.nama_test = response.data.values.nama_test;
        this.nilai = response.data.values.nilai;
        // console.log(this.$route.params.id)
        console.log(this.id_nilai)
      } catch (err) {
        console.log(err);
      }
    },
    // Create New Nilai
    async handleSubmitNilai(){

      if (this.file_test == null) {
        Vue.$toast.open({
            message: 'File must be included!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

      this.fileName = this.file_test.name; 
      this.fileSize = this.file_test.size;  
      this.fileType = this.file_test.type;
      let File_Size = this.fileSize;
      let File_Type = this.fileType;
      let pdf = "application/pdf";
      let xlsx = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      let xls = "application/vnd.ms-excel";
      let doc = "application/msword";
      let docx = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
      let zip = "application/zip";
      let MB =  File_Size / 1024 / 1024;
      // console.log(File_Type)
      if(File_Type == pdf || File_Type == xlsx || File_Type == xls || File_Type == doc || File_Type == docx || File_Type == zip){
          if(MB < 20){
              // process submit
              try{
                const fd = new FormData();
                fd.set('nama_test', this.nama_test);
                fd.set('nilai', this.nilai);
                if (this.file_test!=null) {
                  fd.append('file_test', this.file_test, this.file_test.name);
                }
                await axios.put(`hasiltest/${this.id_nilai}`, fd);
                this.$router.push("/pelamar/view");
                Vue.$toast.open({
                    message: 'Update data success!',
                    type: 'success',
                    // all of other options may go here
                    position: 'top-right'
                });
              } catch(e) {
                console.log(e);
                Vue.$toast.open({
                    message: 'Update data failed!',
                    type: 'error',
                    // all of other options may go here
                    position: 'top-right'
                });
              }
              // end submit

            }else{
                Vue.$toast.open({
                    message: 'File size exceed the 20mb limit!',
                    type: 'error',
                    // all of other options may go here
                    position: 'top-right'
                });
          }    
      }else{
          Vue.$toast.open({
              message: 'File should be in .zip .pdf .doc. docx .xls .xlsx format!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
      }

    }
  },
}
</script>

<style lang="stylus" scoped>

</style>