<template>
    <div id="viewPelamar">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Pelamar</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Data Pelamar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">
            <h5 class="card-title"><router-link :to="{ name: 'addPelamar' }" class="btn btn-success">Add Pelamar</router-link></h5>            
            </div>
            <form class="col-12">
            <div class="row mt-3 justify-content-center">
            <div class="col-md-9">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" id="input" v-model="nama_pelamar" placeholder="Nama Pelamar">
                  <select class="form-control col-6" v-model="id_posisi">
                    <option value="">-- Pilih Posisi --</option>
                    <option v-for="itemPosisi in itemsPosisi" :key="itemPosisi.id_posisi" v-bind:value="itemPosisi.id">
                      {{ itemPosisi.nama_posisi }}
                    </option>
                  </select>
                  <select class="form-control col-6" v-model="id_status">
                    <option value="">-- Pilih Status --</option>
                    <option v-for="itemStatus in itemsStatus" :key="itemStatus.id_status" v-bind:value="itemStatus.id">
                      {{ itemStatus.nama_status }}
                    </option>
                  </select>
                  <v-btn @click="viewPelamar()"
                    class="btn btn-primary"
                    >Search Pelamar</v-btn
                    >
              </div>
              </div>
            </div>
            </form>
            <!-- /.card-header -->
            <div class="card-body">

            <v-client-table :data="items" :columns="columns" :table-layout="fixed" :options="options">
              <span slot="action" slot-scope="{row}">
                <div class="btn-group">
                  <router-link :to="`/nilai/view/${row.id}`" class="btn btn-info btn-sm mr-1">Info</router-link>
                  <router-link :to="`/nilai/add/${row.id}`" class="btn btn-success btn-sm mr-1">Nilai</router-link>
                  <router-link :to="`/pelamar/update/${row.id}`" class="btn btn-primary btn-sm mr-1" >Update</router-link>
                  <a class="btn btn-danger btn-sm" data-toggle="modal" v-bind:href="'#modalDelete'+ row.id" >Delete</a>
                  <div class="modal fade" :id="'modalDelete' + row.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Data</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="deletePelamar(row.id)" data-dismiss="modal" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                    </div>
              </span>
            </v-client-table>
            
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

// import vue table
import {ClientTable} from 'vue-tables-2';
Vue.use(ClientTable);

export default {
  name: 'viewPelamar',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      items: [],
      pelamar: "",
      id_posisi: "",
      itemsPosisi: [],
      id_status: "",
      itemsStatus: [],
      columns: [ 'nama_pelamar', 'no_hp', 'email', 'asal_instansi', 'nama_posisi', 'nama_status', 'action'],
      options: {
          perPage:10,
          filterable: false,
          pagination: { chunk:10,dropdown:false },
          headings: {
            nama_pelamar: "Nama Pelamar",
            no_hp: "Nomor HP/WA",
            email: "Email",
            asal_instansi: "Asal Institusi Pendidikan",
            nama_posisi: "Posisi",
            nama_status: "Status",
            action: "Action"
          },
      },
      
    };
  },
 
  created() {
    this.viewPelamar();
    this.viewPosisi();
    this.viewStatus();
  },
 
  methods: {
    async viewPosisi() {
        try {
        const response = await axios.get("posisi");
        this.itemsPosisi = response.data.values;
        } catch (err) {
        console.log(err);
        }
    },
    async viewStatus() {
        try {
        const response = await axios.get("status_progress");
        this.itemsStatus = response.data.values;
        } catch (err) {
        console.log(err);
        }
    },
    // Get All Pelamar
    async viewPelamar() {
      try {
        let url = "pelamar_progress";
        if(this.nama_pelamar && this.nama_pelamar !='') {
          url = url + "?nama_pelamar="+ this.nama_pelamar;
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "&id_posisi="+ this.id_posisi;
          }
          if(this.id_status && this.id_status !='') {
            url = url + "&id_status="+ this.id_status;
          }
        } else if(this.nama_pelamar =='' && this.id_status =='') {
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "?id_posisi="+ this.id_posisi;
          }
        } else if(this.nama_pelamar =='' && this.id_posisi =='') {
          if(this.id_status && this.id_status !='') {
            url = url + "?id_status="+ this.id_status;
          }
        } else if (this.id_status && this.id_status !='') {
          url = url + "?id_status="+ this.id_status;
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "&id_posisi="+ this.id_posisi;
          }
        } else {
          if(this.id_status && this.id_status !='') {
            url = url + "?id_status="+ this.id_status;
          }
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "?id_posisi="+ this.id_posisi;
          }
        }
        // console.log(url)
        const response = await axios.get(url);
        this.items = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete Pelamar
    async deletePelamar(id) {
      try {
        await axios.delete(`pelamar/${id}`);
        // console.log(id)
        this.viewPelamar();
        Vue.$toast.open({
            message: 'Delete data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch (err) {
        console.log(err);
        Vue.$toast.open({
            message: 'Delete data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }
    },
  },
}
</script>

<style scoped>
    table.vuetable {
        width: 1200px;
        table-layout: fixed;
    }

    .vuetable-body > tr > td {
        white-space: nowrap;
        overflow: hidden; /* cutting log text */
        text-overflow: ellipsis; /* adding dots */
    }

    /*
     * Column width
     */
    .vuetable .vuetable-th-slot-action text-center {
        width: 400px;
    }

    .vuetable th#action { width: 100% }
</style>