<template>
    <div id="viewNilaiPelamar">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Pelamar</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Data Pelamar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-warning">
                <div class="card-header">
                <font class="card-title" text-color="white">Info Detail Data Pelamar dan Nilai Pelamar</font>
                </div>
                <!-- /.card-header -->
                <!-- form start -->                
                <div class="card-body">
                    <H5>A. DATA PRIBADI</H5>
                    <div class="form-group">
                      <label for="nama_pelamar">Nama Pelamar</label>
                      <p>{{ nama_pelamar }}</p>
                    </div>
                    <div class="form-group">
                      <label for="no_hp">Nomor HP / WhatsApp</label>
                      <p>{{ no_hp }}</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <p>{{ email }}</p>
                    </div>
                    <H5>B. ASAL INSTANSI</H5>
                    <div class="form-group">
                      <label for="grade">Tingkat Pendidikan</label>
                      <p>{{ grade }}</p>
                    </div>
                    <div class="form-group">
                      <label for="asal_instansi">Asal Institusi Pendidikan</label>
                      <p>{{ asal_instansi }}</p>
                    </div>
                    <div class="form-group">
                      <label for="jurusan">Jurusan</label>
                      <p>{{ jurusan }}</p>
                    </div>
                    <H5>C. DATA LAMARAN</H5>
                    <div class="form-group">
                      <label for="cv">Dokumen Lamaran (CV)</label> <br>
                        <button v-if="cv.url!=null" class="btn btn-primary btn-sm" @click="downloadCV(cv.url, cv)">Download CV</button>
                        <button v-else class="btn btn-warning btn-sm" @click="downloadCV(cv.url)" disabled>CV Not Found!</button>
                    </div>
                    <div class="form-group">
                      <label for="id_posisi">Posisi yang Dilamar</label>
                      <p>{{ nama_posisi }}</p>
                    </div>
                    <div class="form-group">
                      <label for="id_status">Status Rekrutmen</label>
                      <p>{{ nama_status }}</p>
                    </div>
                    <div class="form-group">
                      <label for="id_status">Tanggal Input</label>
                      <p>Tanggal {{ format_date(updated_at) }}</p>
                    </div>
                    <div class="form-group">
                      <label for="id_status">Data Diperbarui Pada</label>
                      <p>Tanggal {{ format_date(updated_at) }}</p>
                    </div>
                    <H5>C. NILAI TEST</H5>
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                      <th>Nama Test</th>
                      <th>Nilai</th>
                      <th>File Test</th>
                      <th width="20%" class="text-center">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="item in itemsNilai" :key="item.id">
                      <td>{{ item.nama_test }}</td>
                      <td>{{ item.nilai }}</td>
                      <td>
                        <button v-if="item.file_test.url!=null" class="btn btn-primary btn-sm"  @click="downloadHasilTest(item.file_test.url)">Download File Test</button>
                        <button v-else class="btn btn-warning btn-sm" @click="downloadHasilTest(item.file_test.url)" disabled>File Test Not Found!</button>
                      </td>
                      <td class="text-center">
                      <router-link
                          :to="{ name: 'updateNilaiPelamar', params: { id: item.id } }"
                          class="btn btn-primary btn-sm mr-1"
                          >Update
                      </router-link>
                          <a
                    class="btn btn-danger btn-sm" data-toggle="modal" :href="'#modalDelete' + item.id"
                    
                    >Delete</a
                    >
                    <div class="modal fade" :id="'modalDelete' + item.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Data</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="deleteNilai(item.id)" data-dismiss="modal" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                      </td>
                      </tr>
                      </tbody>
                  </table>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <!-- <router-link class="btn btn-secondary mr-3" :to="{name: 'viewPelamar'}">Back</router-link> -->
                    <button class="btn btn-secondary mr-3" onclick="goBack()">Go Back</button>
                </div>
                
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'
import moment from 'moment'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'viewNilaiPelamar',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      nama_pelamar: "",
      no_hp: "",
      email: "",
      asal_instansi: "",
      jurusan: "",
      grade: "",
      cv: "",
      nama_posisi: "",
      itemsPosisi: [],
      nama_status: "",
      itemsStatus: [],
      itemsNilai: [],
      nama_test: "",
      nilai: "",
      file_test: "",
      created_at: "",
      updated_at: "",
      format_date(value){
         if (value) {
           return moment(String(value)).format('DD-MMM-YYYY')
          }
      },
    };
  },
  created: function () {
    this.viewStatus();
    this.viewPosisi();
    this.viewNilai();
    this.viewPelamarById();
  },
  methods: {
    // Download file CV
    async downloadCV(link){
      const arr = link.split('/'); 
      const filename = arr[arr.length - 1]
      // console.log(lastItem); // ["s", "o", "m", "e", "s", "t", "r", "i", "n", "g"]
      axios({
          url: `${link}`,
          method: 'GET',
          responseType: 'blob',
      }).then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement('a');     
          fileLink.href = fileURL;
          fileLink.setAttribute('download', filename);
          document.body.appendChild(fileLink);       
          fileLink.click();
      });      
    },
    // Download file Hasil Test
    async downloadHasilTest(link){
      const arr = link.split('/'); 
      const filename = arr[arr.length - 1]
      // console.log(lastItem); // ["s", "o", "m", "e", "s", "t", "r", "i", "n", "g"]
      axios({
          url: `${link}`,
          method: 'GET',
          responseType: 'blob',
      }).then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement('a');     
          fileLink.href = fileURL;
          fileLink.setAttribute('download', filename);
          document.body.appendChild(fileLink);       
          fileLink.click();
      }); 
    },

    // Get All Status
    async viewStatus() {
      try {
        const response = await axios.get("/status");
        this.itemsStatus = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },
    // Get All Posisi
    async viewPosisi() {
      try {
        const response = await axios.get("/posisi");
        this.itemsPosisi = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },
    // Get Pelamar By Id
    async viewPelamarById() {
      try {
        const response = await axios.get(
          `/pelamar/${this.$route.params.id}`
        );
        this.nama_pelamar = response.data.values.nama_pelamar;
        this.no_hp = response.data.values.no_hp;
        this.email = response.data.values.email;
        this.grade = response.data.values.grade;
        this.cv = response.data.values.cv;
        this.asal_instansi = response.data.values.asal_instansi;
        this.jurusan = response.data.values.jurusan;
        this.nama_posisi = response.data.values.nama_posisi;
        this.nama_status = response.data.values.nama_status;
        this.created_at = response.data.values.created_at;
        this.updated_at = response.data.values.updated_at;
        console.log(response.data.values)
        // console.log(this.$route.params.id)
        // console.log(this.nama_pelamar)
      } catch (err) {
        console.log(err);
      }
    },
    // Get Nilai by Pelamar
    async viewNilai() {
      try {
        const response = await axios.get(`/hasiltest?id=${this.$route.params.id}`);
        this.itemsNilai = response.data.values;
      } catch (err) {
        console.log(err);
      }
    },

    // Delete Nilai
    async deleteNilai(id) {
      try {
        await axios.delete(`/hasiltest/${id}`);
        console.log(id)
        this.viewNilai();
        Vue.$toast.open({
            message: 'Delete data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch (err) {
        console.log(err);
        Vue.$toast.open({
            message: 'Delete data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }
    },
 
  },
}
</script>

<style lang="stylus" scoped>

</style>