<template>
    <footer class="main-footer">
        <!-- <div class="float-right d-none d-sm-block">
        Template by <a href="https://adminlte.io">AdminLTE.io</a>.
        </div> -->
        Copyright &copy; Bee Solution Partners - 2021. All rights reserved.
    </footer>
</template>

<script>
export default {}
</script>