<template>
<div>
    <div class="modal fade" id="modal-logout">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Logout</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure ?&hellip;</p>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" @click="handleLogout()" data-dismiss="modal" class="btn btn-primary">Logout</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">        
        <!-- Left navbar links -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <!-- <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap
            </a>
        </div> -->
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-sm-inline-block">
                <router-link :to="{name: 'viewProfile'}" class="nav-link">Profil</router-link>
            </li>
            <!-- <li class="nav-item d-none d-sm-inline-block">
                <router-link :to="{name: 'changePassword'}" class="nav-link">Ubah Password</router-link>
            </li> -->
            <li class="nav-item d-none d-sm-inline-block">
                <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
</div>
</template>

<script>
export default {
    methods: {
        handleLogout() {
            
                localStorage.removeItem('token');
                localStorage.removeItem('user');
                this.$router.replace(
                    { name: 'login', params: { ...this.$route.params } },
                    () => {
                    this.$router.go(0);
                    }
                );
            
        }
    }
}
</script>