<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <router-link :to="{name: 'dashboard'}" class="brand-link ">         
      <h5 class="brand-text font-weight-light text-center">Recruitment <b>BSP</b></h5>
    </router-link>    

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img :src="photo" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ nama }}</a>
        </div>
      </div> -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <font color="white" class="d-block">Welcome,<br>{{ nama }}</font>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a :href="$router.resolve({name: 'dashboard'}).href" class="nav-link"><i class="nav-icon fas fa-home"></i> <p>
                Home
              </p></a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-database"></i>
              <p>
                Data Master
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a :href="$router.resolve({name: 'viewUser'}).href" class="nav-link"><i class="far fa-circle nav-icon"></i> Data User</a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a :href="$router.resolve({name: 'viewStatus'}).href" class="nav-link"><i class="far fa-circle nav-icon"></i> Data Status</a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a :href="$router.resolve({name: 'viewPosisi'}).href" class="nav-link"><i class="far fa-circle nav-icon"></i> Data Posisi Pelamar</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a :href="$router.resolve({name: 'viewPelamar'}).href" class="nav-link"><i class="nav-icon fas fa-users"></i> <p>
                Data Pelamar
              </p></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>
                Riwayat Data Pelamar
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a :href="$router.resolve({name: 'viewPelamarLolos'}).href" class="nav-link"><i class="far fa-circle nav-icon"></i> Data Pelamar Lolos</a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a :href="$router.resolve({name: 'viewPelamarGagal'}).href" class="nav-link"><i class="far fa-circle nav-icon"></i> Data Pelamar Gagal</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>

import axios from "axios";

// JWT Decode
import jwt_decode from "jwt-decode";

export default {
  data() {
    return {
      id: "",
      // id: localStorage.getItem('user'),
      nama: "",
      photo: "",
    };
  },

  created() {
    this.viewUserbyID();
  },

  methods: {

    // Get User By Id
    async viewUserbyID() {
      // get id user from jwt
      const token = localStorage.getItem('token');
      let decodedToken = jwt_decode(token);
      this.id = decodedToken.user_id;
      // console.log(decodedToken)

      try {
        const response = await axios.get(
          `users/${this.id}`
        );
        this.id = response.data.values.id;
        this.username = response.data.values.username;
        const response2 = await axios.get(
          `http://bas.ptbsp.com/api/integreted/getProfile`, { headers: {'Content-Type': 'application/json'}, params: { NIK:`${this.username}` }}
        );
        this.nama   = response2.data.data.NAME;
        // this.photo   = response2.data.data.PHOTO_URL;
        // console.log(response2)
        // console.log(this.id)
        // const response3 = await axios.get(
        //   `http://bas.ptbsp.com/api/integreted/getProfile`, { headers: {'Content-type': 'image/jpeg'}, params: { NIK:`${this.username}` }}
        // );
        // console.log(response3.data.data.PHOTO_URL)
        // this.photo   = response3.data.data.PHOTO_URL;
        // this.photo = 'data:image/jpg;base64,'.concat(this.photo.concat(response3.data.data.PHOTO_URL))
        // console.log(this.photo)
      } catch (err) {
        console.log(err);
      }
    },

  },

}
</script>