<template>
    <div id="dashboard">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Home</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Home</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

      <!-- Alert -->
      <div v-if="alert" class="alert alert-danger alert-dismissible card-header col-12">
        <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
        <h5><i class="icon fas fa-ban"></i> Peringatan!</h5>
        Anda masih menggunakan kata sandi default, ubah kata sandi untuk keamanan akun!
      </div>
      <!-- End Alert -->

    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">
            <h3 class="card-title">Selamat Datang di Sistem Pengolahan Data Pelamar</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                
                <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ totalApply }}</h3>

                        <p>Apply</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fas fa-check"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ totalLolos }}</h3>

                        <p>Lolos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="riwayatlolos/view" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ totalProgress }}</h3>

                        <p>Dalam Progress</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="pelamar/view" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ totalGagal }}</h3>

                        <p>Gagal</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="riwayatgagal/view" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './_layouts/Navbar.vue'
import Sidebar from './_layouts/Sidebar.vue'
import Footer from './_layouts/Footer.vue'
import './../axios'

// JWT Decode
import jwt_decode from "jwt-decode";

const bcrypt = require('bcryptjs');

export default {
  name: 'App',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      // id: localStorage.getItem('user'),
      id: "",
      totalApply: "",
      totalProgress: "",
      totalGagal: "",
      totalLolos: "",
      alert: "",
    };
  },
 
  created() {
    this.viewPelamarApply();
    this.viewPelamarProgress();
    this.viewPelamarLolos();
    this.viewPelamarGagal();
    this.viewUserbyID();
  },

  methods: {

    // Get User By Id
    async viewUserbyID() {
      // get id user from jwt
      const token = localStorage.getItem('token');
      let decodedToken = jwt_decode(token);
      this.id = decodedToken.user_id;
      // console.log(decodedToken)

      try {
        const response = await axios.get(
          `users/${this.id}`
        );
        this.username = response.data.values.username;
        this.password_digest = response.data.values.password_digest;
        let check_pass = bcrypt.compareSync(this.username, this.password_digest);
        // console.log(check_pass)
        if (check_pass == true) {
          this.alert = true;
        }
        // console.log(this.alert)
      } catch (err) {
        console.log(err);
      }
    },

    async viewPelamarApply() {
      try {
        const response = await axios.get("count_apply");
        this.totalApply = response.data.values.[0].total_apply;
        // console.log(this.totalApply)
      } catch (err) {
        console.log(err);
      }
    },
    async viewPelamarProgress() {
      try {
        const response = await axios.get("count_progress");
        this.totalProgress = response.data.values.[0].total_progress;
      } catch (err) {
        console.log(err);
      }
    },
    async viewPelamarGagal() {
      try {
        const response = await axios.get("count_gagal");
        this.totalGagal = response.data.values.[0].total_gagal;
      } catch (err) {
        console.log(err);
      }
    },
    async viewPelamarLolos() {
      try {
        const response = await axios.get("count_lolos");
        this.totalLolos = response.data.values.[0].total_lolos;
      } catch (err) {
        console.log(err);
      }
    },

  },

}
</script>