<template>
    <div id="viewPelamarLolos">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Pelamar Lolos</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Riwayat Pelamar</li>
            <li class="breadcrumb-item active">Data Pelamar Lolos</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">          
            </div>
            <form class="col-12">
            <div class="row mt-3 justify-content-center">
            <div class="col-md-9">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" id="input" v-model="nama_pelamar" placeholder="Nama Pelamar">
                  <select class="form-control col-6" v-model="id_posisi">
                    <option value="">-- Pilih Posisi --</option>
                    <option v-for="itemPosisi in itemsPosisi" :key="itemPosisi.id_posisi" v-bind:value="itemPosisi.id">
                      {{ itemPosisi.nama_posisi }}
                    </option>
                  </select>
                  <select class="form-control col-6" v-model="id_status">
                    <option value="">-- Pilih Status --</option>
                    <option v-for="itemStatus in itemsStatus" :key="itemStatus.id_status" v-bind:value="itemStatus.id">
                      {{ itemStatus.nama_status }}
                    </option>
                  </select>
                  <v-btn @click="viewPelamarLolos()"
                    class="btn btn-primary"
                    >Search Pelamar</v-btn
                    >
              </div>
              </div>
            </div>
            </form>
            
            <!-- /.card-header -->
            <div class="card-body">

            <v-client-table :data="items" :columns="columns" :options="options">
              <span slot="action" slot-scope="{row}">
                  <router-link :to="`/nilai/view/${row.id}`" class="btn btn-info btn-sm mr-1">Info</router-link>                    
              </span>
            </v-client-table>
            
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';

// import vue table
import {ClientTable} from 'vue-tables-2';
Vue.use(ClientTable);

export default {
  name: 'viewPelamarLolos',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      items: [],
      nama_pelamar: "",
      id_posisi: "",
      itemsPosisi: [],
      id_status: "",
      itemsStatus: [],
      columns: [ 'nama_pelamar', 'no_hp', 'email', 'asal_instansi', 'nama_posisi', 'nama_status', 'action'],
      options: {
          perPage:10,
          filterable: false,
          pagination: { chunk:10,dropdown:false },
          headings: {
            nama_pelamar: "Nama Pelamar",
            no_hp: "Nomor HP/WA",
            email: "Email",
            asal_instansi: "Asal Institusi Pendidikan",
            nama_posisi: "Posisi",
            nama_status: "Status",
            action: "Action"
          },
      },

    };
  },
 
  created() {
    this.viewPelamarLolos();
    this.viewPosisi();
    this.viewStatus();
  },
 
  methods: {
    async viewPosisi() {
        try {
        const response = await axios.get("posisi");
        this.itemsPosisi = response.data.values;
        } catch (err) {
        console.log(err);
        }
    },
    async viewStatus() {
        try {
        const response = await axios.get("status_lolos");
        this.itemsStatus = response.data.values;
        } catch (err) {
        console.log(err);
        }
    },
    // Get All Pelamar
    async viewPelamarLolos() {
      try {
        let url = "pelamar_lolos";
        if(this.nama_pelamar && this.nama_pelamar !='') {
          url = url + "?nama_pelamar="+ this.nama_pelamar;
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "&id_posisi="+ this.id_posisi;
          }
          if(this.id_status && this.id_status !='') {
            url = url + "&id_status="+ this.id_status;
          }
          // console.log(url)
        } else if(this.nama_pelamar =='' && this.id_status =='') {
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "?id_posisi="+ this.id_posisi;
          }
        } else if(this.nama_pelamar =='' && this.id_posisi =='') {
          if(this.id_status && this.id_status !='') {
            url = url + "?id_status="+ this.id_status;
          }
        } else if (this.id_status && this.id_status !='') {
          url = url + "?id_status="+ this.id_status;
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "&id_posisi="+ this.id_posisi;
          }
        } else {
          if(this.id_status && this.id_status !='') {
            url = url + "?id_status="+ this.id_status;
          }
          if(this.id_posisi && this.id_posisi !='') {
            url = url + "?id_posisi="+ this.id_posisi;
          }
        }
        const response = await axios.get(url);        
        this.items = response.data.values;        
      } catch (err) {
        console.log(err);
      }
    },
    
  },
}
</script>

<style lang="stylus" scoped>

</style>