<template>
    <div id="updateStatus">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Status</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data Status</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <font class="card-title" text-color="white">Update Data Status</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitStatus">
                <!-- form start -->
                
                <div class="card-body">
                  <div class="form-group">
                    <label>Jenis Status</label>
                    <select class="form-control col-6" v-model="jenis_status" disabled>
                      <option value="">-- Pilih Jenis Status --</option>
                      <option value="Progress">Progress</option>
                      <option value="Gagal">Gagal</option>
                      <option value="Lolos">Lolos</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nama_status">Nama Status</label>
                    <input type="text" autocomplete="off" class="form-control col-6" id="nama_status" placeholder="Masukkan Status" v-model="nama_status" required>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link class="btn btn-secondary mr-3" :to="{name: 'viewStatus'}">Back</router-link>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

                </form>
                
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'updateStatus',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      nama_status: "",
      jenis_status: "",
    };
  },
  created: function () {
    this.viewStatusById();
  },
  methods: {
    // Get Status By Id
    async viewStatusById() {
      try {
        const response = await axios.get(
          `status/${this.$route.params.id}`
        );
        this.nama_status = response.data.values.nama_status;
        this.jenis_status = response.data.values.jenis_status;
        // console.log(this.$route.params.id)
        // console.log(this.nama_status)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update Status
    // Create New Status
    async handleSubmitStatus(){

      try{
        await axios.put(`status/${this.$route.params.id}`, {
          id: this.$route.params.id,
          nama_status: this.nama_status
        });
        this.id = "";
        this.nama_status = "";
        this.$router.push("/status/view");
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch(e) {
        console.log(e);
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

    },
  },
}
</script>

<style lang="stylus" scoped>

</style>