<template>
    <div id="viewStatus">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Status</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data Status</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">
            <h5 class="card-title"><router-link :to="{ name: 'addStatus' }" class="btn btn-success">Add Status</router-link></h5>            
            </div>
            <!-- <form class="col-12">
            <div class="row mt-3 justify-content-center">
            <div class="col-md-6">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" id="input" v-model="status" placeholder="Nama Status">
                  <v-btn @click="viewStatus()"
                    class="btn btn-primary"
                    >Search Status</v-btn
                    >
              </div>
              </div>
            </div>
            </form> -->
            <!-- /.card-header -->            
            <div class="card-body">

                        <v-client-table :data="items" :columns="columns" :options="options">
              <span slot="action" slot-scope="{row}">
                  <router-link :to="`/status/update/${row.id}`" class="btn btn-primary btn-sm mr-3" >Update</router-link>
                  <a class="btn btn-danger btn-sm" data-toggle="modal" v-bind:href="'#modalDelete'+ row.id" >Delete</a>
                  <div class="modal fade" :id="'modalDelete' + row.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Data</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="deleteStatus(row.id)" data-dismiss="modal" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                    
              </span>
            </v-client-table>
            
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

// import vue table
import {ClientTable} from 'vue-tables-2';
Vue.use(ClientTable);

export default {
  name: 'viewStatus',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      items: [],
      status: "",
      columns: [ 'no', 'jenis_status', 'nama_status', 'action'],
      options: {
          perPage:10,
          filterable: false,
          pagination: { chunk:10,dropdown:false },
          headings: {
            no: "No.",
            jenis_status: "Jenis Status",
            nama_status: "Nama Status",
            action: "Action"
          },
      },

    };
  },
 
  created() {
    this.viewStatus();    
  },
 
  methods: {
    // Get All Products
    async viewStatus() {
      try {
        let url = "status";
        const response = await axios.get(url);        
        this.items = response.data.values;
        let no = 1;
        this.items.forEach(function(e){
          if (typeof e === "object" ){
            e["no"] = no
            no++
          }
        });
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete Product
    async deleteStatus(id) {
      try {
        await axios.delete(`status/${id}`);
        this.viewStatus();
        Vue.$toast.open({
            message: 'Delete data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch (err) {
        console.log(err);
        Vue.$toast.open({
            message: 'Delete data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }
    },
  },
}
</script>

<style lang="stylus" scoped>

</style>