<p><b>Dear <%= @resource.nama %>,</b></p>

<p><%= @resource.message %></p>

<a href="http://ptbsp.ddns.net:63082/" target="_blank">Click Here!</a>
<br><br>
<b>NIK : </b><%= @resource.nik %>
<br>
<b>Password : </b><%= @resource.nik %>
<br>
<p>Have a nice day!</p>