<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Sistem Pengolahan Data Pelamar | Fullstack Ruby on Rails - Vue JS</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/dist/css/adminlte.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </div>
  </body>

<!-- jQuery -->
<script src="<%= BASE_URL %>assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= BASE_URL %>assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="<%= BASE_URL %>assets/plugins/select2/js/select2.full.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="<%= BASE_URL %>assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/jszip/jszip.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%= BASE_URL %>assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= BASE_URL %>assets/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="<%= BASE_URL %>assets/dist/js/demo.js"></script>
<!-- Page specific script -->
<!-- <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script> -->
<script>
  $(function () {
    var url = window.location;
    // for single sidebar menu
    $('ul.nav-sidebar a').filter(function () {
        return this.href == url;
    }).addClass('active');

    // for sidebar menu and treeview
    $('ul.nav-treeview a').filter(function () {
        return this.href == url;
    }).parentsUntil(".nav-sidebar > .nav-treeview")
        .css({'display': 'block'})
        .addClass('menu-open').prev('a')
        .addClass('active');
});
</script>

<!-- select2 -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    
  })

</script>

<script>
  function goBack() {
    window.history.back();
  }
</script>

</html>