<template>
    <div id="updatePosisi">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Posisi</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><router-link :to="{name: 'dashboard'}">Home</router-link></li>
            <li class="breadcrumb-item active">Posisi</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <font class="card-title" text-color="white">Update Data Posisi</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitPosisi">
                <!-- form start -->
                
                <div class="card-body">
                    <div class="form-group">
                    <label for="nama_posisi">Nama Posisi</label>
                    <input type="text" autocomplete="off" class="form-control col-6" id="nama_posisi" placeholder="Masukkan Posisi" v-model="nama_posisi" required>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link class="btn btn-secondary mr-3" :to="{name: 'viewPosisi'}">Back</router-link>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

                </form>
                
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'updatePosisi',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      nama_posisi: "",
    };
  },
  created: function () {
    this.viewPosisiById();
  },
  methods: {
    // Get Posisi By Id
    async viewPosisiById() {
      try {
        const response = await axios.get(
          `posisi/${this.$route.params.id}`
        );
        this.nama_posisi = response.data.values.nama_posisi;
        // console.log(this.$route.params.id)
        // console.log(this.nama_posisi)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update Posisi
    // Create New Posisi
    async handleSubmitPosisi(){

      try{
        await axios.put(`posisi/${this.$route.params.id}`, {
          id: this.$route.params.id,
          nama_posisi: this.nama_posisi
        });
        this.id = "";
        this.nama_posisi = "";
        this.$router.push("/posisi/view");
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch(e) {
        console.log(e);
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

    },
  },
}
</script>

<style lang="stylus" scoped>

</style>