<template>
    <div id="viewPosisi">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Posisi</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data Posisi Pelamar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">
            <h5 class="card-title"><router-link :to="{ name: 'addPosisi' }" class="btn btn-success">Add Posisi</router-link></h5>            
            </div>
            <!-- <form class="col-12">
            <div class="row mt-3 justify-content-center">
            <div class="col-md-6">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" id="input" v-model="status" placeholder="Nama Posisi">
                  <v-btn @click="viewPosisi()"
                    class="btn btn-primary"
                    >Search Posisi</v-btn
                    >
              </div>
              </div>
            </div>
            </form> -->
            <!-- /.card-header -->            
            <div class="card-body">

            <v-client-table :data="items" :columns="columns" :options="options">
              <span slot="action" slot-scope="{row}">
                  <router-link :to="`/posisi/update/${row.id}`" class="btn btn-primary btn-sm mr-3" >Update</router-link>
                  <a class="btn btn-danger btn-sm" data-toggle="modal" v-bind:href="'#modalDelete'+ row.id" >Delete</a>
                  <div class="modal fade" :id="'modalDelete' + row.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Data</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="deletePosisi(row.id)" data-dismiss="modal" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                    
              </span>
            </v-client-table>
            
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'
import Vue from 'vue'

// import vue table
import {ClientTable} from 'vue-tables-2';
Vue.use(ClientTable);

import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'viewPosisi',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      items: [],
      posisi: "",
      columns: [ 'no', 'nama_posisi', 'action'],
          rows:[
            this.items,
            {id:1, name:"John", year:"5", number:"17"},
            {id:2, name:"Jane", year:"6", number:"18"},
            {id:3, name:"Susan", year:"7", number:"19"},
            {id:4, name:"Chris", year:"8", number:"20"},
            {id:5, name:"Dan", year:"9", number:"21"},
            {id:6, name:"John", year:"5", number:"17"},
            {id:7, name:"Jane", year:"6", number:"18"},
            {id:8, name:"Susan", year:"7", number:"19"},
            {id:9, name:"Chris", year:"8", number:"20"},
            {id:10, name:"Dan", year:"9", number:"21"},
            {id:11, name:"John", year:"5", number:"17"},
            {id:12, name:"Jane", year:"6", number:"18"},
            {id:13, name:"Susan", year:"7", number:"19"},
            {id:14, name:"Chris", year:"8", number:"20"},
            {id:15, name:"Dan", year:"9", number:"21"}
          ],
          options: {
              perPage:10,
              filterable: false,
              pagination: { chunk:10,dropdown:false },
              headings: {
                nama_posisi: "Nama Posisi",
                no: "No.",
                action: "Action"
              },
          },          
    };
  },
 
  created() {
    this.viewPosisi();    
  },
 
  methods: {
    // Get All Products
    async viewPosisi() {
      try {
        let url = "posisi";
        const response = await axios.get(url);        
        this.items = response.data.values;
        let no = 1;
        this.items.forEach(function(e){
          if (typeof e === "object" ){
            e["no"] = no
            no++
          }
        });
        console.log(this.items)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete Product
    async deletePosisi(id) {
      try {
        await axios.delete(`posisi/${id}`);
        this.viewPosisi();
        Vue.$toast.open({
            message: 'Delete data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
        // console.log(id)
      } catch (err) {
        console.log(err);
        Vue.$toast.open({
            message: 'Delete data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }
    },
  },
}
</script>

<style lang="stylus" scoped>

</style>