<template>
    <div id="addUser">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>User</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data User</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-success">
                <div class="card-header">
                <font class="card-title" text-color="white">Add Data User</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitUser">
                <!-- form start -->
                
                <div class="card-body">
                    <div class="form-group">
                      <label>Pilih User</label>
                      <!-- <select class="form-control col-6 select2bs4" v-model="id"> -->
                      <!-- <select class="form-control col-6" v-model="selected" required>
                        <option value="">-- Pilih User --</option>
                        <option v-for="itemUser in itemsUser" :key="itemUser.NIK" v-bind:value="itemUser.NIK+'|'+itemUser.NAME">
                          {{ itemUser.NIK }} - {{ itemUser.NAME }}
                        </option>
                      </select> -->
                      
                      <multiselect class="col-6" v-model="value" :options="itemsUser" :custom-label="nameWithLang" placeholder="-- Pilih User --" label="NIK" track-by="_id"></multiselect>
                      <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->
                      <div class="form-group">
                        <label for="cv">Dokumen Lamaran <br> <code>File yang diperbolehkan upload : .zip .pdf .doc. docx .xls .xlsx</code></label>
                        <input type="file" autocomplete="off" class="form-control col-6" id="cv" @change="onFileSelected" placeholder="Masukkan Jurusan" required>
                      </div>
                      
                    </div>                   
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link :to="{name: 'viewUser'}" class="btn btn-secondary mr-3">Back</router-link>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
                </form>
                
            </div>
            <!-- /.card -->
            

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

import Multiselect from 'vue-multiselect'


export default {
  name: 'addUser',
  components: {
    Navbar,
    Sidebar,
    Footer,
    Multiselect
  },
  data() {
    return {
      itemsUser: [],
      // itemsUserRegistered: [],
      selected: "",
      value: "",
      user: "",
      cv: null,
      password: "",
    };
  },

  created() {
    this.viewUser();
    // this.viewUserRegistered();
    // this.viewFilteredUser();
  },

  methods: {
    // File
    onFileSelected(event) {
      this.cv = event.target.files[0]
      this.fileName = this.cv.name;  
      this.fileSize = this.cv.size;  
      this.fileType = this.cv.type;
      let File_Size = this.fileSize;
      let File_Type = this.fileType;
      let pdf = "application/pdf";
      let xlsx = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
      let xls = "application/vnd.ms-excel";
      let doc = "application/msword";
      let docx = "application/vnd.openxmlformats-officedocument.wordprocessingml.document";
      let zip = "application/zip";
      let MB =  File_Size / 1024 / 1024;
      // console.log(File_Type)
      if(File_Type == pdf || File_Type == xlsx || File_Type == xls || File_Type == doc || File_Type == docx || File_Type == zip){
          if(MB < 20){
              return true;
            }else{
                Vue.$toast.open({
                    message: 'File size exceed the 20mb limit!',
                    type: 'error',
                    // all of other options may go here
                    position: 'top-right'
                });
          }    
      }else{
          Vue.$toast.open({
              message: 'File should be in .zip .pdf .doc. docx .xls .xlsx format!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
      }

    },
    nameWithLang ({ NIK, NAME }) {
      return `[${NIK}] - ${NAME}`
    },
    // Get All User
    async viewUser() {
      try {
        const response = await axios.get("http://bas.ptbsp.com/api/integreted/comboUser");
        const response2 = await axios.get("users");
        this.itemsUser = response.data;
        this.itemsUserRegistered = response2.data.values;
        // console.log(this.itemsUser)
        // console.log(this.itemsUserRegistered)
        
        const arr1 = this.itemsUser;
        const arr2 = this.itemsUserRegistered;
        var finalarr = []

        // console.log(arr1.[0].NIK)
        // console.log(arr2.[0].username)

        for (let i = 0; i < arr1.length; i++) {
            let found = false // flag
            
            for (let j = 0; j < arr2.length && !found; j++) {
              found = arr1[i].NIK === arr2[j].username
            }
            
            if (!found) finalarr.push(arr1[i])
        }

        // console.log(finalarr)
        this.itemsUser = finalarr;
      } catch (err) {
        console.log(err);
      }
    },

    // Get All Registered User
    // async viewUserRegistered() {
    //   try {
    //     const response = await axios.get("users");
    //     this.itemsUserRegistered = response.data.values;
    //   } catch (err) {
    //     console.log(err);
    //   }
    // },

    // async viewFilteredUser() {
    //   const arr1 = this.itemsUser;

    //   const arr2 = this.itemsUserRegistered;

    //   console.log(arr1)
    //   console.log(arr2)

    //   const res = arr2.filter(({NIK:a}) => !arr1.some(({username:b}) => a === b));
    //   console.log(res)
    // },

    // Create New User
    async handleSubmitUser(){
      const users = this.value;
      // const user = users.split('|');
      // console.log(user[0]);
      // console.log(user[1]);
      const user = Object.values(users);
      // console.log(user.[0])

      // console.log(user[1])

      const response2 = await axios.get(
        `http://bas.ptbsp.com/api/integreted/getProfile`, { headers: {'Content-Type': 'application/json'}, params: { NIK:`${user[1]}` }}
      );

      // console.log(response2.data.data.EMAIL)

      try{
        const fd = new FormData();
        fd.set('username', user[1]);
        fd.set('nama', user[2]);
        fd.set('password', user[1]);
        fd.set('email', response2.data.data.EMAIL);
        fd.append('attachment', this.cv, this.cv.name);
        fd.set('nik', response2.data.data.NIK);
        await axios.post('users', fd);
        // await axios.post('users', {          
        //   username: user[1],
        //   nama: user[2],
        //   password: user[1],
        //   email: response2.data.data.EMAIL,
        //   nik: response2.data.data.NIK
        // });
        this.username = "";
        this.password = "";
        this.nama = "";
        this.email = "";
        this.nik = "";
        this.$router.push("/user/view");
        Vue.$toast.open({
            message: 'Add data success!',
            type: 'success',
            position: 'top-right'
        });
        Vue.$toast.open({
            message: 'Email sent success!',
            type: 'success',
            position: 'top-right'
        });
      } catch(e) {
        console.log(e);
        Vue.$toast.open({
            message: 'Add data failed!',
            type: 'error',
            position: 'top-right'
        });
      }

    }
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">

</style>