<template>
    <div id="changePassword">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>User</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Ubah Password</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-success">
                <div class="card-header">
                <font class="card-title" text-color="white">Ubah Password User</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitUser">
                <!-- form start -->
                
                <div class="card-body">
                    <div class="form-group">
                      <label for="password">Password Lama</label>
                      <input type="password" class="form-control col-6" autocomplete="off" id="password_old" placeholder="Masukkan Password Lama" v-model="password_old" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password Baru</label>
                      <input type="password" class="form-control col-6" autocomplete="off" id="password" placeholder="Masukkan Password" v-model="password" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Konfirmasi Ulang Password Baru</label>
                      <input type="password" class="form-control col-6" autocomplete="off" id="password2" placeholder="Masukkan Ulang Password" v-model="password2" required>
                    </div> 
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <!-- <router-link :to="{name: 'viewUser'}" class="btn btn-secondary mr-3">Back</router-link> -->
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
                </form>
                
            </div>
            <!-- /.card -->
            

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from '../_layouts/Navbar.vue'
import Sidebar from '../_layouts/Sidebar.vue'
import Footer from '../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

const bcrypt = require('bcryptjs');

// JWT Decode
import jwt_decode from "jwt-decode";

export default {
  name: 'changePassword',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      id: "",
      password: "",      
      password2: "",
      password_old: "",
    };
  },

  created() {
    this.viewUserbyID();
  },

  methods: {
    // Get User By Id
    async viewUserbyID() {
        // get id user from jwt
        const token = localStorage.getItem('token');
        let decodedToken = jwt_decode(token);
        this.id = decodedToken.user_id;
        // console.log(decodedToken)

      try {
        const response = await axios.get(
          `users/${this.id}`
        );
        this.pass_old = response.data.values.password_digest;
        // console.log(this.pass_old)
      } catch (err) {
        console.log(err);
      }
    },
    // Change Password User
    async handleSubmitUser(){

      // console.log(this.pass_old)
      let check_pass = bcrypt.compareSync(this.password_old, this.pass_old);
      // console.log(check_pass)

      if (check_pass == true) {

        if (this.password == this.password2) {

          try{
            await axios.put(`users/${this.id}`, {
              id: this.id,
              password: this.password
            });
            this.$router.push("/user/view");
            Vue.$toast.open({
                message: 'Update password success!',
                type: 'success',
                // all of other options may go here
                position: 'top-right'
            });
          } catch(e) {
            console.log(e);
            Vue.$toast.open({
                message: 'Update password failed!',
                type: 'error',
                // all of other options may go here
                position: 'top-right'
            });
          }
        
        } else {
          Vue.$toast.open({
              message: 'Password dan Konfirmasi Password tidak sama!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
        }

      } else {
        Vue.$toast.open({
            message: 'Password Lama tidak sesuai!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

    },

  },
}
</script>

<style lang="stylus" scoped>

</style>