<template>
    <div id="updateUser">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>User</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data User</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <font class="card-title" text-color="white">Update Data User</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitUser">
                <!-- form start -->
                
                <div class="card-body">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control col-6" autocomplete="off" id="username" placeholder="Masukkan Username" v-model="username" disabled>
                    </div>
                    <div class="form-group">
                      <label for="nama">Nama</label>
                      <input type="text" class="form-control col-6" autocomplete="off" id="nama" placeholder="Masukkan Nama" v-model="nama" required>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link class="btn btn-secondary mr-3" :to="{name: 'viewUser'}">Back</router-link>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>

                </form>
                
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

export default {
  name: 'updateUser',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      username: "",
      nama: "",
    };
  },
  created: function () {
    this.viewUserById();
  },
  methods: {
    // Get User By Id
    async viewUserById() {
      try {
        const response = await axios.get(
          `users/${this.$route.params.id}`
        );
        this.username = response.data.values.username;
        this.nama = response.data.values.nama;
        // console.log(this.$route.params.id)
        // console.log(this.nama_posisi)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Update User
    async handleSubmitUser(){

      try{
        await axios.put(`users/${this.$route.params.id}`, {
          id: this.$route.params.id,
          username: this.username,
          nama: this.nama
        });
        this.id = "";
        this.username = "";
        this.nama = "";
        this.$router.push("/user/view");
        Vue.$toast.open({
            message: 'Update data success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch(e) {
        console.log(e);
        Vue.$toast.open({
            message: 'Update data failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }

    },
  },
}
</script>

<style lang="stylus" scoped>

</style>