<template>
    <div id="viewProfile">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Profile</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- general form elements -->
            <div class="card card-info">
                <div class="card-header">
                <font class="card-title" text-color="white">Info Profile</font>
                </div>
                <!-- /.card-header -->
                <form @submit.prevent="handleSubmitUser">
                <!-- form start -->
                
                <div class="card-body">
                  <h3>{{ name }}</h3>
                  <table class='table table-striped'>
                    <tr>
                      <th width='20%'>NIK</th>
                      <td width='1%'>:</td>
                      <td>{{ nik }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Email</th>
                      <td width='1%'>:</td>
                      <td>{{ email }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Birthday</th>
                      <td width='1%'>:</td>
                      <td>{{ birthday }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Sex</th>
                      <td width='1%'>:</td>
                      <td>{{ sex }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Marital Status</th>
                      <td width='1%'>:</td>
                      <td>{{ marital_status }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Religion</th>
                      <td width='1%'>:</td>
                      <td>{{ religion }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Join Date</th>
                      <td width='1%'>:</td>
                      <td>{{ join_date }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Expire Date</th>
                      <td width='1%'>:</td>
                      <td>{{ expired_date }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Team Leader</th>
                      <td width='1%'>:</td>
                      <td>{{ team_leader }}</td>
                    </tr>
                    <tr>
                      <th width='20%'>Status</th>
                      <td width='1%'>:</td>
                      <td>{{ status }}</td>
                    </tr>
                  </table>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <router-link :to="{name: 'changePassword'}" class="btn btn-info">Ubah Password</router-link>
                </div>
                </form>
                
            </div>
            <!-- /.card -->
            

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from '../_layouts/Navbar.vue'
import Sidebar from '../_layouts/Sidebar.vue'
import Footer from '../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

// JWT Decode
import jwt_decode from "jwt-decode";

export default {
  name: 'viewProfile',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      // id: localStorage.getItem('user'),
      username: "",
      name: "",
      nik: "",
      email: "",
      birthday: "",
      sex: "",
      marital_status: "",
      religion: "",
      join_date: "",
      expired_date: "",
      team_leader: "",
      status: "",
    };
  },

  created() {
    this.viewUserbyID();
  },

  methods: {
    // Get User By Id
    async viewUserbyID() {
      try {
        // get id user from jwt
        const token = localStorage.getItem('token');
        let decodedToken = jwt_decode(token);
        let id = decodedToken.user_id;
        // console.log(decodedToken)
        
        const response = await axios.get(
          `users/${id}`
        );
        this.username = response.data.values.username;
        const response2 = await axios.get(
          `http://bas.ptbsp.com/api/integreted/getProfile`, { headers: {'Content-Type': 'application/json'}, params: { NIK:`${this.username}` }}
        );
        this.name   = response2.data.data.NAME;
        this.nik   = response2.data.data.NIK;
        this.email   = response2.data.data.EMAIL;
        this.birthday = response2.data.data.BIRTHDAY;
        this.sex = response2.data.data.SEX;
        this.marital_status = response2.data.data.MARITAL_STATUS;
        this.religion = response2.data.data.RELIGION;
        this.join_date = response2.data.data.JOIN_DATE;
        this.expired_date = response2.data.data.EXPIRE_DATE;
        this.team_leader = response2.data.data.NIK_LEADER;
        this.status = response2.data.data.USER_STATUS;
        // console.log(response2.data.data)
      } catch (err) {
        console.log(err);
      }
    },

  },
}
</script>

<style lang="stylus" scoped>

</style>