<template>
    <div id="viewUser">
        <Navbar/>
        <Sidebar/>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>User</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Data Master</li>
            <li class="breadcrumb-item active">Data User</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">

        <div class="card">
            <div class="card-header">
            <h5 class="card-title"><router-link :to="{ name: 'addUser' }" class="btn btn-success">Add User</router-link></h5>            
            </div>

            <!-- <form class="col-12">
            <div class="row mt-3 justify-content-center">
            <div class="col-md-6">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" id="input" v-model="username" placeholder="Username">
                  <v-btn @click="viewUser()"
                    class="btn btn-primary"
                    >Search User</v-btn
                    >
              </div>
              </div>
            </div>
            </form> -->

            <!-- /.card-header -->            
            <div class="card-body">   

            <v-client-table :data="items" :columns="columns" :options="options">
              <span slot="action" slot-scope="{row}">
                  <a class="btn btn-info btn-sm mr-1" data-toggle="modal" v-bind:href="'#modalReset'+ row.id" >Reset Password</a>
                  <div class="modal fade" :id="'modalReset' + row.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Reset Password User</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="resetUser(row.id, row.username)" data-dismiss="modal" class="btn btn-primary">Reset</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <router-link :to="`/user/update/${row.id}`" class="btn btn-primary btn-sm mr-1" >Update</router-link>
                  <a class="btn btn-danger btn-sm" data-toggle="modal" v-bind:href="'#modalDelete'+ row.id" >Delete</a>
                  <div class="modal fade" :id="'modalDelete' + row.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Data</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure ?&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" @click="deleteUser(row.id)" data-dismiss="modal" class="btn btn-primary">Delete</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                    
              </span>
            </v-client-table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

        <Footer/>
    </div>
</template>

<script>
// import axios
import axios from "axios";
import Navbar from './../_layouts/Navbar.vue'
import Sidebar from './../_layouts/Sidebar.vue'
import Footer from './../_layouts/Footer.vue'

import Vue from 'vue';
import VueToast from 'vue-toast-notification';
// Import one of the available themes
//import 'vue-toast-notification/dist/theme-default.css';
import 'vue-toast-notification/dist/theme-sugar.css';
Vue.use(VueToast);

// import vue table
import {ClientTable} from 'vue-tables-2';
Vue.use(ClientTable);

export default {
  name: 'viewUser',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  data() {
    return {
      id: localStorage.getItem('user'),
      items: [],
      user: "",
      columns: [ 'no', 'username', 'nama', 'action'],
      options: {
          perPage:10,
          filterable: false,
          pagination: { chunk:10,dropdown:false },
          headings: {
            action: "Action",
            no: "No."
          },
      },

    };
  },
 
  created() {
    this.viewUser();    
  },
 
  methods: {
    // Get All User
    async viewUser() {
      try {
        let url = "users";
        const response = await axios.get(url);        
        this.items = response.data.values;
        let no = 1;
        this.items.forEach(function(e){
          if (typeof e === "object" ){
            e["no"] = no
            no++
          }
        });
        // console.log(this.items)
      } catch (err) {
        console.log(err);
      }
    },
 
    // Delete User
    async deleteUser(id) {

      if (id==this.id) {
        Vue.$toast.open({
            message: 'Delete data Failed! Cant Delete User When User is Active',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      } else {
        try {
          await axios.delete(`users/${id}`);
          this.viewUser();
          Vue.$toast.open({
              message: 'Delete data success!',
              type: 'success',
              // all of other options may go here
              position: 'top-right'
          });
        } catch (err) {
          console.log(err);
          Vue.$toast.open({
              message: 'Delete data failed!',
              type: 'error',
              // all of other options may go here
              position: 'top-right'
          });
        }
      }

    },

    // Reset Password User
    async resetUser(id, username) {
      try {
        await axios.put(`users/${id}`, {
          id: id,
          password: username
        });
        this.viewUser();
        Vue.$toast.open({
            message: 'Reset Password success!',
            type: 'success',
            // all of other options may go here
            position: 'top-right'
        });
      } catch (err) {
        console.log(err);
        Vue.$toast.open({
            message: 'Reset Password failed!',
            type: 'error',
            // all of other options may go here
            position: 'top-right'
        });
      }
    },

  },
}
</script>

<style lang="stylus" scoped>

</style>